body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #041c32;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #041c32;
  color: #fff;
  padding: 2em 0;
}

.profile-pic {
  width: 150px;
  height: 150px;
  background-image: url("img/cat.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.education {
  margin-top: 2em;
}

.education h3 {
  margin-bottom: 0.5em;
  font-size: 20px;
}

.education ul {
  list-style: none;
  padding: 0;
}

.education ul li {
  margin-bottom: 0.5em;
}
.name {
  margin-left: 1em; /* Add some spacing between the profile picture and the name */
}

.name h1 {
  margin: 0;
  font-size: 24px;
}

.name p {
  margin: 0;
  font-size: 16px;
}

section {
  padding: 2em;
}

.project {
  margin-bottom: 1em;
}

.menu {
  background-color: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black; /* 添加左側黑色分隔線 */
  border-right: 2px solid black; /* 添加右側黑色分隔線 */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0;
  border-right: 1px solid black;
}

.menu li:first-child {
  border-left: 1px solid black; /* 第一個項目不顯示左側分隔線 */
}

.menu li:last-child {
  border-right: 1px solid black;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
}

.menu a:hover {
  background-color: black;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s, color 0.3s; /* 添加過渡特效 */
}